


<!DOCTYPE html>
<html>
<head>
    <title>Listings</title>
     <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="listings-container">

    <% if (listings.length === 0) { %>
        <p class="no-listings">No listings available right now.</p>
    <% } %>

    <% listings.forEach(listing => { %>
        <div class="listing-card">

            <!-- Image -->
            <% if (listing.img) { %>
                <div class="image-wrapper">
                    <img src="<%= listing.img %>" alt="<%= listing.title %>">

                    <!-- Like Button -->
                    <div class="like-btn" onclick="toggleLike(this)">
                        ❤️
                    </div>
                </div>
            <% } %>

            <!-- Content -->
            <div class="card-content">

                <h4 class="card-title"><i>Title:</i> <%= listing.title %></h4>

                <p class="card-desc">
                    Description:
                    <%= listing.description %>
                </p>

                <p class="card-price">
                    ₹ <%= listing.price %>
                </p>
                <div>
                    <span class="card-category"><%= listing.category %></span>
                    <span class="card-condition"><%= listing.condition %></span>
                </div>

                <!-- Buttons -->
                <div class="card-actions">
                    <a href="/listings/<%= listing._id %>" class="view-btn">View Details</a>
                </div>

            </div>
        </div>
    <% }) %>

</div>

<script>
function toggleLike(btn){
    btn.classList.toggle("liked");
}
</script>


</body>
</html>